.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
}

.label {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-text-light);
}

.select {
  width: 100px;
}
